<div>
	{{#if product.offer}}
		<div class="offer">{{product.offer}}</div>
	{{/if}}
	<span> {{fa-icon 'fa-crop' size='4x'}}</span>
	<h3>{{product.name}}</h3>
	<div>{{product.price.monthly}} a month</div>
</div>
